*{
    padding: 0px;
    margin: 0px;
    }
    body{
        font-family: tuppence,serif;
        font-weight: 400;
        font-style: normal;
        background-color: #035AA6;
        color: #BADAEA;
    }

    .nav{
        background-color:#035AA6;
        grid-area: nav;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        text-align: center;
        padding: 15px;
        font-family: tuppence,serif;
        font-weight: 700;
        font-size: large;
        box-shadow: 0 2px 2px 0 rgba(2, 33, 170, 0.24);
    }
    a{
        text-decoration: none;
        color: #BADAEA;
    }
    a:hover{
        color: white;
    }
    .li-decor{
        display: inline;
        list-style: none;
        margin: 20px;
        padding: 30px;
    }
    li.active a{
        text-decoration: underline;
        font-family: tuppence,serif;
        font-weight: 700;
        font-style: italic;
        color: white;
    }


/* menu */

.carta {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
    /* footer */
    
    .footer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(5,auto);
        grid-template-areas: "logo menu-foooter contacto redes"
                            "logo menu-foooter contacto redes"
                            "logo menu-foooter contacto redes"
                            "logo menu-foooter contacto redes"
                            "logo menu-foooter contacto redes";
                            padding: 20px 0 40px 40px;
                            border-top: solid 1px #BADAEA;
    }
    
    .logo {
        grid-area: logo;
    }
    
    .menu-footer {
        grid-area: menu-footer;
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .contacto {
        grid-area: contacto;
    }
    .redes {
        grid-area: redes;
    }
    
    .red {
        padding-left: 8px;
    }
    
    .title-footer {
        font-size: 20px;
        padding-bottom: 10px
    }
    
    .redes-sociales {
        display: flex;
    }


    @media screen and (max-width:768px){

        .container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,auto);
            grid-template-areas: "nav nav"
                                "carta1 carta1";
        }
    
    
        .nav{
            grid-area: nav;
         
        }
        .carta1{
            grid-area: carta1;
            overflow: hidden;
        }
        
    
        .footer{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,auto);
            grid-template-areas: "redes menu-foooter"
                                "contacto logo";
                                padding: 20px 0 40px 40px;
                                border-top: solid 1px #BADAEA;
        }
        
        .logo {
            grid-area: logo;
        }
        
        .menu-footer {
            grid-area: menu-footer;
            display: flex;
            flex-direction: column;
            list-style-type: none;
        }
        
        .contacto {
            grid-area: contacto;
        }
        
        .redes {
            grid-area: redes;
        }
    
        .menu-carta{
            width: 300px;
            overflow: hidden;

        }
    }